body {
    text-align: center;
    margin: 0;
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
    color: #314156;
}

.hero {
    background-image: url(images/herro.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.heading{
    margin-top: 0;
    padding-top: 100px; 
}
h1, h2{
    color: #e4d7db;
}
.main-heading{
    background-color: #314156;
    border-radius: 5px;
    padding:5px 20px;
}
.sub-heading{
    background-color: #2b4d77;
    border-radius: 5px;
    padding: 5px 10px;
}
#Places-heading{
    margin-top: 0;
    padding-top: 30px;
    color: #314156;
    font-weight: bold;
    font-size: x-large;
}
.places{
    height: 100vh;
    background-image: linear-gradient(#e4d7db, #e4d7db);
}
.places-content{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.city-image{
    width: 200px;
    border-radius: 100%;
    height: 150px;
}
.place-div{
    width: 300px;
}
#guide{
    height: 700px;
}
.container-card{
    margin-top: 100px;
    width: 800px;
    border: 1px solid #5e738c;
    border-radius: 10px;
    border-bottom: 5px solid #313f53;
    height:230px;
    background-color: #7c96b5;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
}
.guide-image{
    width: 300px;
    height: 200px
}
.italic{
    font-style: italic;
    font-weight: bold;
}